@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #000 url(https://hd.unsplash.com/photo-1469826834904-e92950ee5bf9) no-repeat center;
  background-size: cover;
}
.main-container {
  width: 90%;
  min-height: 100vh;
  margin: 10px auto;
  border-radius: 10px;
  background: hsl(0, 0%, 100%);
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  background: hsl(210, 100%, 60%) url(https://qph.ec.quoracdn.net/main-qimg-3c38fb2222fcd616ff7b35fb785046c2?convert_to_webp=true) no-repeat center;
  background-size: contain;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  background-origin: content-box;
}
h1 {
  margin: 20px 0;
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  color: #ccc;
}
.text-box {
  margin: 0px auto;
  width: 40%;
  margin-bottom: 20px;
  text-align: center;
}
p{
  position: relative;
  width: 70%;
  margin: 3px auto;
  padding: 20px;
  text-align: left;
  font-size: 17px;
  color: #000;
  /*border: 1px solid #ccc;*/
}
.time {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-style: italic;
  font-size: .75em;
  color: #ccc;
}
